@(session: Session, user: User)

<!DOCTYPE html>

<html>
	<head>
		<title>Dashboard - @user.username</title>

		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery-ui-1.8.22.custom.css")">
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">

		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Scada' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Orienta' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="@routes.Assets.at("javascripts/jquery-ui-1.8.22.custom.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/dashboard.js")"></script>

		<script>
			userId = "@user.id";
			sessionId = "@session.sessionId";
			$(document).ready(function() {
				onLoad();
			});
		</script>
	</head>
	<body>
		<input type="button" id="logout" value="Logout &rarr;"/>
		<br><br>
		<input type="text" id="repoName" value=""/>
		<input type="button" id="createRepo" value="Create Repo &rarr;"/>
	</body>
</html>
