<!DOCTYPE html>

<html>
	<head>
		<title>CloWorker</title>

		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery-ui-1.8.22.custom.css")">
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">

		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Scada' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Orienta' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="@routes.Assets.at("javascripts/jquery-ui-1.8.22.custom.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/index.js")"></script>

		<script>
			$(document).ready(function() {
				onLoad();
			});
		</script>
	</head>
	<body>
		<h1 style="font-family: 'Source Sans Pro', sans-serif;color: #000033">CloWorker</h1>
		<br>
		<br>
		<h2 style="font-family: 'Nova Square', sans-serif;color: #009900">Go from idea to live Application in minutes</h2>
		<br>
		<br>
		<h3>How it works ?</h3>
		<br>
		<ul>
			<li>
				Create your CloWorker (from existing templates or satrt blank)
			</li>
			<li>
				Install Addons (for Database, Email,...)
			</li>
			<li>
				Code your Logic (in Java)
			</li>
			<li>
				Go Live !
			</li>
			<li>
				Iterate (to Add Features)
			</li>
		</ul>
		<br>
		<h3>What is a CloWorker ?</h3>
		<br>
		CloWorker is any application hosted on the Cloud like
		<ul>
			<li>
				Shopping Website
			</li>
			<li>
				Social Network
			</li>
			<li>
				Utility Apps
			</li>
			<li>
				Music Streaming Apps
			</li>
			<li>
				Browser Games
			</li>
			<li>
				Backend for Mobile Apps
			</li>
			<li>
				or any Web Application
			</li>
		</ul>

		<br>
		<br>

		<h3>Get Started >></h3>
		<br>
		Email :
		<input type="text" id="email"/>
		<br>
		User Name :
		<input type="text" id="username"/>
		<br>
		Password :
		<input type="password" id="password"/>
		<br>
		<input type="button" id="signup" value="Signup &rarr;"/>
		<br>
		<br>

		User Name :
		<input type="text" id="username1"/>
		<br>
		Password :
		<input type="password" id="password1"/>
		<br>
		<input type="button" id="signin" value="Signin &rarr;"/>

		<br>
		<br>
		<h3>Features</h3>
		<br>
		<ul>
			<li>
				Free Private Repository
			</li>
			<li>
				Instant Deplyment to Heroku
			</li>
			<li>
				Most of the code is generated for you
			</li>
			<li>
				Risk Free - Walk away with your code anytime
			</li>

		</ul>
		<br>

	</body>
</html>
